*:not(dialog) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    max-width: 100vw;
    max-height: max-content;
    font-family: Arial, Helvetica, sans-serif, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


/* Area de Login */



#cabecalho .info{
    align-items: center;
    height: 12px;
    display: flex;
    justify-content: start;
    
    
}
#cabecalho .login{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: -40px;
}
#cabecalho .info button{
    padding: 2px;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    font-size: 20px;
    margin-left: -50px;
}
#cabecalho .info button:hover{
    text-decoration: underline;

}

.login-img {
    
    scale: 0.19;
    margin: 0;
}
#modal-login{
    transition: all 0s;
    backdrop-filter: blur(6px);
    overflow: hidden;
    width: 500px;
    height: 500px;
    background-color: rgb(0, 0, 0, 0.5);
}
#modal-login::backdrop{
    background-color: #070707b7;
}

#modal-login h1{
    color: #8c8c8c;
}

#modal-login input:not(:last-child){
    color: #fff;
    background-color: transparent;
    margin-bottom: 40px;
    border-radius: 16px;
    font-size: 30px;
    padding: 12px;
    outline: #ffffffa4 2px;
    
}
#modal-login input:hover{
    background-color: #ffffff2f;
}
    
    

#modal-login input:first-child{
    margin-top: -80px;
}
#modal-login input:last-child{
    margin-bottom: 10px;
}
.dialog-login{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
}

#modal-login .dialog-login button{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(5, 251, 169, 0.842);
}
.dialog-login  span {
    margin-top: 12px;
    font-size: 12px;
    align-self: center;
    margin-bottom: -5px;
    color: rgb(255, 255, 255);
}
.dialog-login .logos img{
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 26px;
    display: flex;
    margin: 12px;
    align-self: center;
}




/* Cabeçalho */









#cabecalho {
    z-index: 1;
    top: 0;
    transition: 1s;
    transition-property: ease;
    background-color: #fff;
    box-shadow: 4px 1px 5px #8c8c8c;
    box-shadow: 11px 2px 3px unset;
    padding: 12px;
    height: 170px;
}

#cabecalho.encolhido {
    z-index: 3;
    overflow: hidden;
    transition: ease 1s;
    position: sticky;
    top: 0;
    height: auto;
    width: 100vw;
    padding: 4px;
    height: 100px;
}

#cabecalho.encolhido div {
    font-size: 16px;
    margin-bottom: 10px;
    justify-content: center;
    transition: ease-in-out 0.4s;
    font-size: small;

}

#cabecalho.encolhido ul {
    margin-left: 14px;
    margin-bottom: 10px;
    justify-content: center;
    transition: ease-in-out 0.4s;
    font-size: 14px;
    padding: 0;

}

#cabecalho.encolhido li {
    margin-bottom: 10px;
    justify-content: center;
    transition: ease-in-out 0.455s;
    font-size: 20px;
    padding: 0;

}

#cabecalho.encolhido .info {
    position: absolute;
    left: -100%;
    justify-content: center;
    transition: ease-in-out 1s;
    font-size: 14px;
    padding: 0;

}

#cabecalho.encolhido img {
    margin-right: 14px;
    image-rendering: optimizeQuality;
    object-fit: cover;
    object-position: center;
    width: 120px;
    margin-top: -12px;

}

#cabecalho div {

    align-items: center;
    margin-left: 16vw;
    margin-right: 17vw;
    min-width: 68vw;
    display: flex;
    justify-content: space-between;

}

#cabecalho section {
    display: flex;
    align-items: center;
    letter-spacing: -1px;
    font-size: 20px;
}

#cabecalho ul {
    align-items: center;
    display: flex;
    list-style: none;
    background-color: rgb(255, 255, 255);
    font-size: 24px;
    border-bottom: 3px solid #d8d8d86a;
    max-width: max-content;
    border-radius: 0px 0px 12px 12px;

}

#cabecalho li {
    margin: 12px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#cabecalho li:hover {
    color: rgb(0, 159, 190);
    transition: all;
    transition-duration: 0.1s;
    border-bottom: 2px solid;
}

#cabecalho li:not(:first-child) {
    border-left: 2px solid;
}

#cabecalho a {
    text-decoration: none;
    padding: 12px;
}

#cabecalho img {
    width: 139px;
    object-fit: cover;
    object-position: center;

}



/* Botao Doe */




.doe {
    cursor: pointer;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
    border: 0px;
    background-color: rgba(5, 251, 169, 0.842);
}

.doe:hover {
    background-color: rgba(0, 145, 126, 0.644);
    transition: all;
    transition-duration: 0.3s;
    color: #fff;
}

hr {
    border: 0;
    color: #070707;
    width: 99vw;
    box-shadow: unset 2px 3px 1px;
}


/* Principal */



main {
    background-color: #e4e4e43f;
    width: 100vw;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



/* Slider */



.top {
    background-color: #ffffff00;
    max-width: 70%;
    max-height: fit-content;
}

.container-slider {
    margin-top: 30px;
    width: 900px;
    height: 450px;
    overflow: hidden;
    box-shadow: 15px 15px 15px rgb(0, 0, 0, 0.2);
}

.slides {
    animation: slider 45s infinite ease-in-out;
    display: flex;
    margin: 0;
    padding: 0;
    width: 400%;
}

.slide4 img {
    top: -20px;
    image-rendering: optimizeQuality;
    object-position: center;
    height: 500px;
}

.slides img {
    width: 900px;
    align-items: center;
    justify-content: center;
}

@keyframes slider {

    0% {
        margin-left: 0%;
    }

    10% {
        margin-left: 0%;
    }

    18% {
        margin-left: 0%;
    }

    20% {
        margin-left: -100%;
    }

    30% {
        margin-left: -100%;
    }

    40% {
        margin-left: -100%;
    }

    48% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    60% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    78% {
        margin-left: -200%;
    }

    80% {
        margin-left: -300%;
    }

    90% {
        margin-left: -300%;
    }

    97% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}


@media screen and (max-width: 1100px) {
    .container-slider {
        transition: 0.5s;
        scale: 0.8;
        justify-self: center;
    }
}
@media screen and (max-width: 768px) {
    .container-slider {
        margin-top: 22%;
        transition: 0.5s;
        scale: 0.5;
        justify-self: center;
    }

    header {
        position: absolute;
        justify-content: center;
        width: 768px;
        scale: 1;
        top: 0;
    }

}



/* Area dos Animais */




.container-animal {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 50px;
    width: 70vw;
    flex-wrap: wrap;

}

.container-animal h1 {
    font-size: 30px;
    font: 300;
    letter-spacing: 1px;
}

.container-animal hr {
    border: 0px;
    margin: 50px;

}

.container-animal img {
    overflow: hidden;
    top: 0;
    display: block;
    position: relative;
    width: 400px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.titulo-animal {
    position: absolute;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: -50px;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 400px;
    height: 50px;
}

.animais-slogan:hover .titulo-animal {
    margin-top: -60px;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1.3px;
    height: 60px;
    transition: 0.4s;


}

.animais-slogan:hover img {
    scale: 1.1;
    transition: 0.6s;
    object-position: center;
    color: rgb(0, 0, 0, 0.5);
}

.animais-slogan:hover button {
    font-size: 18px;
    transition: 0.6s;
    object-position: center;

}


.titulo-animal button {
    cursor: pointer;
    font-size: 16px;
    border: none;
    background-color: #fff;
    color: #0c9eff;
    text-decoration: none;
    text-overflow: ellipsis;
}


.animais-slogan {
    margin-bottom: 20px;
    width: 400px;
    height: 300px;
    overflow: hidden;
    margin-left: 8px;

    display: block;


}

dialog::backdrop {
    transition: 1s;
    background-color: rgb(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes aparecer {
    0% {
        scale: 0.3;
    }

    100% {
        scale: 1;
    }

}



/* Modals/Caracteristicas dos animais */




dialog:not(.doar){
    background-color: #fdfdfd;
    animation-duration: 0.3s;
    animation-name: aparecer;
    padding: 14px;
    width: 70%;
    height: 70%;
    border-radius: 15px;
    border: 0px;
}

dialog div {
    background-color: #fdfdfd00;
    align-items: center;
    font-size: 30px;
    margin: 15px;
    transition: 1s;
    display: flex;
    justify-content: center;
}

dialog div p {
    margin-top: 26px;

    padding: 10px;
    margin-left: 22px;
    height: 500px;

}



dialog div img {
    width: 450px;
    height: 400px;
    border-radius: 12px;
    margin-left: 14px;
    object-fit: cover;
    object-position: center;
}

dialog div h1 {
    font-size: 40px;
    color: rgb(0, 114, 57);
}

.close-modal {
    position: fixed;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 5px;
    width: 50px;
    height: 50px;
    border: 0;
    border-radius: 50px;

}

.close-modal:hover {
    background-color: rgb(0, 0, 0, 0.3);
    transition: all 0.3s;
}

.close-modal img {

    width: 60px;
    object-position: center;
    height: 50px;

}

.doar {
    position: fixed;
    transition: 1s;
    display: flex;
    justify-content: center;
    bottom: 2%;
    scale: 1.5;
}

@media screen and (max-width: 820px) {
    dialog div {
        overflow-clip-margin: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    dialog img {
        scale: 0.8;

    }

    dialog h1 {
        left: 12px;
        font-size: 2px;
    }
}



/* Area da Denuncia/ Como Ajudar */




.ajudar{
    border-top: transparent;
    border-top-style:ridge ;
    box-shadow: 4px 1px 5px #8c8c8c;
    letter-spacing: 2px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: max-content;
    background-position: center;
    background-size: cover;
    background-clip: content-box;
    border-top: 15px solid  blur(0.5) rgb(0, 0, 0, 0.2);
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Jaguar_%28Panthera_onca_palustris%29_female_Piquiri_River_2.JPG/1280px-Jaguar_%28Panthera_onca_palustris%29_female_Piquiri_River_2.JPG);
}
.ajudar h1{
    top: 14px;
    position: absolute;
    font-weight: bold;
    margin: 25px;
    font-size: 50px;
    color: #ffffff;
    
   
}
.container-ajuda{
    display: flex;
    justify-content: center;
    padding: 40px;
    border-radius: 20px;
    width: 80%;
    height: max-content;
    backdrop-filter: blur(5px);
    background-color: rgb(0, 0, 0, 0.5);
    margin: 40px;
    align-items: center;
}

.container-ajuda div{
    display: flex;
    justify-content: center;
    margin: 50px;
    font-size: 30px;
    color: #ffffff;
}
.container-ajuda div div {
    display: flex;
    
    width:  50%;
}
.container-ajuda div div p{
    font-weight:  lighter;
    letter-spacing: 2px;
    padding: 0;
    margin: 0;
    font-size: calc(0.5em + 1vw);
    display: flex;
    align-items: center;
}
.container-ajuda p{
    margin-top: 0;
    
}
.container-ajuda .contact  input{
    color: #fff;
    display: flex;
    justify-content: flex-start;
    border: 0px;
    padding: 12px;
    margin: 9px;
    border-radius: 15px;
    outline: 0;
    font-size: calc(0.5em + 0.3vw);
    background-color: rgb(0, 0, 0, 0.5);
    
}
@media screen and (max-width: 1100px) {
    .container-ajuda div{
        display: flex;
        flex-direction: column;
        padding: 12px;
    }
    .container-ajuda div div{
        
        width: 400px;
    }
}


.contact {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    

}
.contact #description{
   display: flex;
   flex-wrap: wrap;
    height: 120px;
    
}

.contact  input::placeholder{
    color: #eeeeee;
    justify-self: flex-start;
}

.contact div{
    margin: 0;
    align-self: center;
}
.contact h3 {
    justify-self: center;
    align-self: LEFT;
    
    
    font-size: 40px;
    margin-left: 14px;
}
.contact button{
    color: #fff;
    font-size: 20px;
    align-self: center;
    margin-top: 20px;
    padding: 12px;
    width: 300px;
    cursor: pointer;
    border: 0;
    
    border-radius: 30px;
    background: linear-gradient(#00d9ffaf, #0c7dff98);
}
.contact button:hover {
      transition: ease 0.5s;
      color: #e2e2e2;
      background: linear-gradient(#047386af, #05366e98)
}
.container-content {
    display: flex;
    flex-direction: column;
}

.container-content h3{
    margin-bottom: 8% ;
    margin-top: -18%;

}




/* Area da doaçao */





.container-donation{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-donation .title{
    background: linear-gradient(90deg, rgb(52, 164, 0), #b26200);
    background-clip: text;
    height: 50px;
    display: flex;
    color: transparent;
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 2px;
    margin: 30px;
    width: 70vw;
    align-items: center;
    justify-content: center;
}

.container-donation .title img{
    margin: 30px;
    width: 80px; 
    height: 80px;
    border-radius: 40px;
}



.container-donation .content img{
    background-color: #070707;
    position: sticky;
    margin-left: 4%;
    border-radius: 25px;
    width: 34vw;
    height: 50vh;
    object-fit: cover;
}
.container-donation #content {
    border: 2px solid #ffffff;
    font-weight: lighter;
    margin-top: -0px;
    height: 50vh;
    padding: 1em;
    position: absolute;
    backdrop-filter: blur(3px);
    background: radial-gradient(#ffffffaa,#52525258);
    font-size: calc(0.5em + 1.4vw);
    letter-spacing: 3px; 
    z-index: 1;
    display: flex;
    width: 34vw;
    border-radius: 25px;
    margin-left: 40px;
    color: #a55500f7;
}

.container-donation .donation-img{
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: end;
    letter-spacing: 2px;
    font-size:15px;

}

.container-donation .donation-img span{
    margin: 12px;
}

.container-donation button{
    justify-self: center;
    padding: 20px;
    scale: 1.3;
    margin: 5%;
    margin-left: 10%;
}

@media screen and (max-width: 801px) {
    .container-donation #content {
        margin-left: -8%;
        padding: 20px;
        position: absolute;
        align-self: center;
        max-width: 100vw;
        min-width: 340px;
        width: 56vw;
        font-size: calc(1em + 1.3vw);
    }
    .container-donation .content{
        display: flex;
        flex-direction: column;
        padding: 12px;
    }
    .container-donation .donation-img{
        max-width: 100vw;
        margin-left: 0;
        padding: 0;
        justify-content: center;
        margin-top: calc(0.1em + 55vw);
        
        align-self: center;
    }
    .container-donation .donation-img img{
        width: 55vw;
        min-width: 300px;
    }

    .container-donation .donation-img span{
        max-width: 40vw;
    }
}




footer{
    background-color: #001d0bce;
    color: rgba(255, 255, 255, 0.692);
    display: flex;
    padding: 32px;
    width: 100vw;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;

}
footer h3{
    font-weight: lighter;
    
}
footer hr{
    color: rgba(255, 255, 255, 0.692);
    height: 170%;
    width: 0.1px;
    
    margin-left: 30px;
    margin-right: 30px;
    border-left: 1px solid;
}
